@media screen and (max-width:1440px) {
    h1,h2 {
      width: 80%;
    }
  }

@media screen and (max-width: 1200px) {
  h1,
  h2 {
    font-size: x-large;
  }

  li {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) {
  .header_container .navbar .menu li {
    font-size: 10px;
    padding-left: 25px;
  }
  h1,
  h2 {
    font-size: large;
  }
}

@media screen and (max-width: 768px) {
  .header_container {
    flex-direction: column;
  }
  h1,
  h2 {
    font-size: x-small;
  }
  .header_container .navbar .menu li {
    font-size: 10px;
    padding-left: 5px;
  }

  .under_header_container {
    margin-top: 100px;
    text-align: center;
  }
  .text_content {
    align-items: center;
  }

  .text_content .booking_button {
    background-color: brown;
    height: 30px;
    width: 100px;
  }
  .text_content .booking_button a {
    line-height: 30px;
  }
}

@media screen and (max-width: 480px) {
    main {
        height: 50vh;
    }
    .menu {
    text-align: center;
  }
  .header_container .navbar .menu {
    flex-direction: column;
  }

  .text_content .booking_button {
    background-color: brown;
    height: 20px;
    width: 100px;
  }
  .text_content .booking_button a {
    line-height: 20px;
  }
}
